@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@theme {
  --color-primary: #1a5b9b;
  --color-accent: #4b33a1;
  --color-light: #fff;
  --color-dark: #000;
  --color-border: #4671ab;

  --font-primary: "Poppins", sans-serif;

  --container-xl: 1170px;
}

/* Base layer  */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-primary);
    font-size: 18px;
  }
  .container {
    @apply mx-auto !max-w-xl px-4;
  }
  p {
    @apply text-[18px] leading-[30px];
  }
  h2 {
    @apply text-[48px] leading-[60px] font-bold text-primary;
  }
  h3 {
    @apply text-[24px] leading-[30px] font-bold text-dark;
  }
  .primary-btn {
    @apply font-semibold text-[24px] py-3 px-10 border-2 border-[#4671ab] bg-accent text-light rounded-full inline-block;
  }
}

/* Components layer  */
@layer components {
  .hero {
    @apply flex items-end pb-25 md:pb-[250px] bg-[url('/img/bg-mobile.png')] md:bg-[url('/img/bg.jpg')] bg-cover bg-bottom h-[1000px];
  }
  .team {
    @apply py-20 bg-[url('/img/solutions-bg.png')] pb-[300px] pt-[400px] bg-cover bg-bottom z-0;
  }
  .menu-link { 
    @apply text-light hover:text-accent duration-300;
  }
}

/* Utilities layer  */
@layer utilities {
  /* Header  */
  .site-header {
    display: flex;
    align-items: center;
    height: 100px;
    position: sticky;
    margin-bottom: -100px;
    z-index: 9999;
  }
  /* sticky header  */
  .sticky-effect {
    position: sticky;
    background: var(--color-primary);
    top: 0;
    animation: sticky-header 0.5s;
  }
  .remove-effect {
    animation: remove-effect 0.5s;
  }
  @keyframes remove-effect {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-150px);
    }
  }
  @keyframes sticky-header {
    from {
      transform: translateY(-150px);
    }
    to {
      transform: translateY(0px);
    }
  }
  /* mobile menu  */
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 18px;
    cursor: pointer;
    padding: 0;
    border: none;
  }

  .bar {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .solution-card {
    box-shadow: 0px 25px 40px #00000069;
  }
  /* footer  */
  footer {
    background-image: url(/img/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 280px 0 80px 0;
  }
  footer .nav a {
    color: #fff;
    font-weight: 600;
  }
}
